{{!-- add card info & submit--}}
{{!-- create new database to store purchase from this user --}}
{{!-- column: email, purchase items, unit price, quantity, date of spending. --}}
{{!-- generate a link / qr code for user to claim their ticket in cinema --}}

 <div class="card bg-light" style="box-shadow: 0.3px 0.3px #888888;">
  <div class="card card-header bg-white">
    <div class="container">
    <div class="row">
      <img src="/img/enets.png" class="d-flex justify-content-start" alt="card" style="width: 5.5em;height:3em;">
      <span class="text-center" style="font-size: 1.4em;margin:0 auto;"><strong>Pay using eNets</strong></span>
    </div>
  </div>

  </div>
  <br>
{{!-- enter card details --}}
<div class="container">
<div class="row justify-content-md-around">
<div class="col-12 col-md-7">
  <h5 class="card card-header text-center text-white" style="background-color:rgb(49, 202, 158)">Please enter eNets details</h5>
<div class="card card-body" style="box-shadow: 0.3px 0.3px #888888;">

  	<form action="/payments/enetspays" method="post">
				<div class="form-group mx-sm-4">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" required>
				</div>
				<div class="form-group mx-sm-4">
					<label for="password">Password</label>
					<input type="password" name="password" class="form-control" required>
				</div>
        <hr class="mx-sm-4">
        <div class="d-flex justify-content-between mx-sm-4">
          <a href="/Payment" class="btn btn-outline-secondary">Cancel</a>
          {{!-- <a href="/payments/enetsview" class="btn btn-success">Pay</a> --}}
          <button type="submit" class="btn btn-success">Pay</button>
        </div>
			</form>
      
</div>
</div>
{{!-- display items in cart --}}
<div class="col-6 col-md-4">
  <div class="card card-body" style="box-shadow: 0.3px 0.3px #888888;">
      <div>
        <h5 style="color:rgb(49, 202, 158)">Display items</h5>
        <hr>
        <div>item 1</div>
        <div>item 2</div>
        <div>item 3</div>
        <hr>
        <div class="d-flex justify-content-between"><span>Total Price:</span><strong>S$ <span style="color: red;">...</span></strong></div>
      </div>
    </div>
</div>
</div>
<br>
</div>
<br>
</div>